@font-face {
    font-family: 'Zemestro';
    src: url('../fonts/regular.eot');
    src:
        url('../fonts/regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/regular.woff') format('woff'),
        url('../fonts/regular.ttf') format('truetype'),
        url('../fonts/regular.svg#regular') format('svg');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zemestro-Book';
    src: url('../fonts/book.eot');
    src:
        url('../fonts/book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/book.woff') format('woff'),
        url('../fonts/book.ttf') format('truetype'),
        url('../fonts/book.svg#book') format('svg');

    font-weight: normal;
    font-style: normal;
}
