@font-face {
	font-family: 'Zemestro';
	src: url('http://www.arionbanki.is/library/Skrar/Template/Font/regular.eot');
	src:
		url('http://www.arionbanki.is/library/Skrar/Template/Font/regular.eot?#iefix') format('embedded-opentype'),
		url('http://www.arionbanki.is/library/Skrar/Template/Font/regular.woff') format('woff'),
		url('http://www.arionbanki.is/library/Skrar/Template/Font/regular.ttf') format('truetype'),
		url('http://www.arionbanki.is/library/Skrar/Template/Font/regular.svg#regular') format('svg');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Zemestro-Book';
	src: url('http://www.arionbanki.is/library/Skrar/Template/Font/book.eot');
	src:
		url('http://www.arionbanki.is/library/Skrar/Template/Font/book.eot?#iefix') format('embedded-opentype'),
		url('http://www.arionbanki.is/library/Skrar/Template/Font/book.woff') format('woff'),
		url('http://www.arionbanki.is/library/Skrar/Template/Font/book.ttf') format('truetype'),
		url('http://www.arionbanki.is/library/Skrar/Template/Font/book.svg#book') format('svg');

	font-weight: normal;
	font-style: normal;
}
