@import 'inc/defaults'

banner_width = 310px
banner_height = 400px

@import 'inc/base'

#pano
    _size = (banner_height - overlay_height + top_line)
    position: absolute
    top: 0
    left: 0
    z-index: 0
    width: banner_width
    height: _size