@import 'inc/defaults'

banner_width = 150px
banner_height = 600px
line_width = 150px
overlay_height = 116px
top_line = 16px

@import 'inc/base'

h1 .text, h2 .text
    line-height: 20px
    padding: 4px 0

h2 .text
    left: 8px
    font-size: 15px