@import 'nib'

global-reset()

body
    color: white
    font-family: 'Zemestro-Book'
    width: banner_width
    height: banner_height
    overflow: hidden
    font-size: 16px

#container
    position: relative
    width: 100%
    height: 100%

#pano
    width: 100%
    height: 100%


#overlay
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: overlay_height
    background-color: overlay_color
    cursor: pointer

    .top-line
        _height = 36px
        border: 0px solid transparent
        border-top-width: _height
        border-right-color: overlay_color
        border-right-width: banner_width
        height: 0
        width: 0
        position: absolute
        top: -(_height)

h1
    _height = 26px
    position: relative
    padding: 10px 0 3px 0
    display: block
    overflow: hidden
    width: line_width
    font-family: 'Zemestro'
    text-align: right

    .text
        text-align: left
        position: absolute
        bottom: 3px
        line-height: _height
        right: 3px
        opacity: 0

    .line
        position: absolute
        background-color: orange
        width: line_width
        height: 3px
        bottom: 0px
        left: 0px
        margin-left: -(line_width)

h2
    _height = 26px
    display: block
    width: 100%
    position: relative
    overflow: hidden

    .text
        line-height: _height
        text-align: left
        position: absolute
        top: 0
        left: 18px

#logo
    image: '../img/arion-logo.png' 120px 26px
    width: 120px
    height: 26px
    position: absolute
    bottom: 13px
    right: 20px
